@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    width: 100vw;
    height: 20vh;
    background-image: url(Ragnarokimages/bannerfundo.jpg);
}


.top-banner .logo {
    position: absolute; 
    margin-top: 1%;
    margin-left: 40%;
    /*border: 4px solid red;*/
    width: 16%;
    height: 16%;
}

.navbuttons {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 350px;
}

.home {
    /*position: absolute;
    margin-left: 20%;*/
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    transition: all 0.5s;
    cursor: pointer;
}

.home:hover{
    -webkit-transition: scale(1.5);
    transform: scale(1.5);
}
.forum {
    /*position: absolute;
    margin-left: 35%;*/
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    transition: all 0.5s;
    cursor: pointer;
}
.forum:hover{
    -webkit-transition: scale(1.5);
    transform: scale(1.5);
}

.historia {
    /*position: absolute;
    margin-left: 50%;*/
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size:  clamp(1em, 1em + 1vw, 1.5em);
    transition: all 0.5s;
    cursor: pointer;
    
}
.historia:hover{
    -webkit-transition: scale(1.5);
    transform: scale(1.5);
}

.cartas {
    /*position: absolute;
    margin-left: 65%;*/
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size:  clamp(1em, 1em + 1vw, 1.5em);
    transition: all 0.5s;
    cursor: pointer;
}
.cartas:hover{
    -webkit-transition: scale(1.5);
    transform: scale(1.5);
}

.face{
    box-shadow: inset 0 0 20em rgb(141, 141, 139);
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.face > h1 {
    padding-bottom: 100px;
    margin-left: 40%;
    font-size: 30px;
}


/*.face1 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 60px;
}

.face2 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 60px;
}

.face3 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 60px;
}

.face4 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 60px;
}

.face5 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 60px;
}

.face6 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 60px;
}
*/
figure div img {
    border: 2px solid rgb(0, 29, 54);
    border-radius: 20px;
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 60px;
    margin-left: 70px;
}

.fac1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

figcaption {
    color: rgb(0, 29, 54);
    margin-left: 40px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 80px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: inset 0 0 3em rgb(177, 177, 177);
}



